<section>
    <h1>CHAT</h1>
    <input type="text" id="messageInput" placeholder="Escribi un mensaje">
</section>
<hr>
<section id="chatBox">
    {{#each messages}}
        <div>
            <span id="user">{{this.user}}: </span><span id="message">{{this.message}}</span>
        </div>
        <hr>
    {{/each}}
</section>
<script src="/socket.io/socket.io.js"></script>
<script src="static/js/chat.js"></script>