<h1>El link ha expirado</h1>
<p>Enviar link nuevamente a:</p>
<input id="recoverMail" type="email" name="recoverMail" required>
<button id="sendMail">SEND</button>
<script src="/static/js/passwordmail.js"></script>