<h1>LOGIN</h1>
<hr>
<section>
    <h2>LOGIN WITH MAIL</h2>
    <form action="/session/login" method="POST">
        <label for="email">Email:</label><input id="loginEmail" type="email" name="email" required>
        <br>
        <label for="password">Password:</label><input id="loginPassword" type="password" name="password" required>
        <br>
        <button type="submit">ENTER</button>
        <span id="recoverPassword"><a href="/recover/mail">Forgot password?</a></span>
    </form>
</section>
<br>
<span>Dont have an account? <a href="/session/register">Registrate</a></span>
<hr>
<section>
    <h2>LOGIN WITH GITHUB</h2>
    <a href="/session/github"><button>GITHUB</button></a>
</section>