<p>Ingresa tu mail y vamos a enviarte un link para crear tu nueva contraseña</p>
<input id="recoverMail" type="email" name="recoverMail" required>
<button id="sendMail">SEND</button>
<script src="/static/js/passwordmail.js"></script>